{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
       #mainNav{
           background-color: #212529 !important;
       }
       #a-login {
           background-color: #FFBE00 !important;
           color:black;
       }

        body{
            background:black;
        }
    </style>
    <!-- Heading Row-->
     <header id="login" class="heading">
         <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Acessar o sistema</h2>
                </div>
            </div>
    </header>
    
    <section class="page-section bg-light h-100" id="login">
        <div class="container">
         <div class="row">
            <div class="col-sm-5 col-md-6 mb-3 p-45 form-wrap ">
                <div class="pure-g-r content-ribbon bg-login p-4">
                    
                    <div class="pure-u-1">
                        
                        <form class="pure-form pure-form-aligned" method="POST">
                            {% csrf_token %}
                            <fieldset>
                             {{ form.non_field_errors }}
                            {% for field in form %}
                            <div class="pure-control-group">
                                {{ field.label_tag }}
                                {{ field}}
                                {{ field.errors }}
                            </div>

                            {% endfor %}
                            <div class="pure-controls">
                                <button type="submit" class="btn btn-lg bg-dark text-white">Entrar</button>
                                <a  href="{% url 'panel:passwordreset' %}" class="btn btn-lg bg-warning text-black">Resetar senha?</a>
                            </div>
                            
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}